<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
        <title>Document</title>
    </head>
    <body>
        <h1>Google Pixel 8 Pro</h1>

        <div>
            <p>One of the main advantages of the panel that makes the Pixel 8 worth buying is color accuracy . The YouTube UI runs at120Hz, but if you're not interacting with the screen while watching a video, it will switch to 60Hz to save power.</p>
            <img src = "{{ url_for('static', filename = 'images/8pro.png') }}">
            <a href="https://www.youtube.com/watch?v=xvFZjo5PgG0">КУПИТИ</a>
        </div>
       
          
    </body>
</html>